main{
    background-color: aqua;
}

body{
    background-color: black;
}

h1{
    text-align: center;
    font-size: 35px;
    color: blue;
}

img{
    width: 200px;
    height: 200px;
}

#id1>section{
    float: left;
    border: 2px red solid;
    width: 200px;
    height: 350px;
    margin: 25px;

    padding: 3px;
    border-radius: 8px;

}

#id1>section>h2{
    color: white;
    font-size: 25px;
    text-align: center;
    height: 55px;
}

#id1>section>p{
    color: blue;
    padding-top: 15px;
    text-align: center;
}

#radio_section>label{
    color: rgb(54, 14, 231);
    font-size: 25px;
}

#btn_1,#btn_2{
    background-color: aqua;
    font-size: 30px;
    border: 2px red dashed;
    border-radius: 15px;
    padding: 8px;
    margin-left: 20px;
}


#btn_1:hover,#btn_2:hover{
    background-color: rgb(0, 17, 255);
}
